*.pyc
*.pyo
*.orig
*.rej
*.egg-info
*.db
*.log
*.mo
.DS_Store
.project
.pydevproject
.pytest_cache
.ruff_cache
.settings
.idea
.coverage
.eggs
*.swp
/build
/dist
htmlcov
nbproject
/doc/_build
.webassets-cache

src/nagare/static
