repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=400"]

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    # Ruff version.
    rev: "v0.14.11"
    hooks:
      - id: ruff
        files: "^src"
      - id: ruff-format
        files: "^src"
