body {
    font-family: Times, Georgia;
    width: 100%;
    color: black;
}

body, th, tr { font-size: 12px }

#logo { width: 80px }

.document { padding-left: 90px }

p, blockquote, .htmlscreen, table.docutils, table.wiki { margin-bottom: 10px }
.literal, .option, pre, table pre, tt { font-size: 10px !important }
div.highlight pre, table.ncode { font-size: 9px !important }
.note, .warning { background-image: none }

h1.title { font-size: 25px }
h1 {
    margin: 20px 0 10px 0 !important;
    font-size: 21px;
}
h2 {
    margin: 15px 0 10px 0 !important;
    font-size: 18px;
}
h3 {
    margin: 10px 0 10px 0 !important;
    font-size: 15px;
}

div.highlight, .ncodediv, .note, .warning, pre.literal-block {
    margin-bottom: 10px;
    padding: 9px;
}
div.highlight, .highlight .highlight { padding: 9px; overflow: hidden; font-size: 5px !important; }
div.highlight pre { margin-bottom: 0 !important }

pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

